.footer {
  background-color: #f5ebde;
  width: 100%;
  height: 400px;
}
.footer__container {
  display: flex;
  align-items: start;
  justify-content: space-around;
  gap: 20px;
  padding: 50px;
  margin: 0 5%;
}
.footer .footer--title {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.footer .footer--content {
  font-size: 14px;
}

.footer__policy__list li{
  color: #2785FF;
}